<ion-header >
    <ion-toolbar color="tertiary">
      <ion-buttons>
      <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
      <ion-back-button style="color:white;"></ion-back-button>
      <ion-title id="title" style="color:white;">FootballMatch Admin</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
      <ion-button class="btn-style" (click)="goAddMore()" color="secondary">Add more...</ion-button>
      <ion-list *ngFor='let data of match'>
            <ion-row>
                <ion-col size="6">
                    {{data.matchtitle}}
                </ion-col>
                <ion-col size="3">
                    <ion-button class="btnstyle" (click)="goDelete(data.matchtitle)" color="danger">Delete</ion-button>
                </ion-col>
                <ion-col size="3">
                    <ion-button class="btnstyle" (click)="goEdit(data.matchtitle)" color="secondary">Edit</ion-button>
                </ion-col>
            </ion-row>   
      </ion-list>
      <ion-button (click)="goAddMore()" color="secondary" class="btn-style">Add more...</ion-button>
  </ion-content>
  