.m-style{
    border-style: solid;
    border-width: 1px;
    //border-radius: 5px;
    border-color: teal;
}
.btnstyle{
    text-transform: none;
}
.btn-style{
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}