<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons>
    <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
    <ion-back-button style="color:white;"></ion-back-button>
    <ion-title id="title" style="color:white;">Useditem Update</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<!-- for uploading the used item details -->
<ion-grid>
    <ion-row>
      <ion-col size="4">
        Item Type:
      </ion-col>
      <ion-col size="8">
          <ion-input type="text" class="m-style" [(ngModel)]="itemTitle"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Date:</ion-label>
      </ion-col>
      <ion-col size="8">
          <ion-input type="text" button=true, value={{Date}} (click)="pickDate()" class="m-style" [(ngModel)]="uploadDate"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Price:</ion-label>
      </ion-col>
      <ion-col size="8">
          <ion-input type="text" class="m-style" [(ngModel)]="itemPrice"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>contact:</ion-label>
      </ion-col>
      <ion-col size="8">
          <ion-input type="number" class="m-style" [(ngModel)]="itemContact"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Details:</ion-label>
      </ion-col>
      <ion-col size="8">
          <ion-input type="text" class="m-style" [(ngModel)]="itemDetail"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Item status:</ion-label>
      </ion-col>
      <ion-col size="8">
          <ion-input type="text" class="m-style" [(ngModel)]="itemStatus"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-label>Image1:</ion-label></ion-col>
      <ion-col>
          <ion-label>
              <input type="file" (change)="detectSalesFiles1($event)">
           </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-label>Image2:</ion-label></ion-col>
      <ion-col>
          <ion-label>
              <input type="file" (change)="detectSalesFiles2($event)">
           </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-label>Image3:</ion-label></ion-col>
      <ion-col>
          <ion-label>
              <input type="file" (change)="detectSalesFiles3($event)">
           </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="insertUsedItem()" color="secondary" > usedItem update</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>