<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons>
    <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
    <ion-back-button style="color:white;"></ion-back-button>
    <ion-title id="title" style="color:white;">Sales Admin</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-button (click)="goOffer()" color="secondary" expand="full">For offers upload</ion-button><br>
    <ion-button (click)="goUsedItem()" color="secondary" expand="full">For used Item upload</ion-button>
</ion-content>
