<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons>
    <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
    <ion-back-button style="color:white;"></ion-back-button>
    <ion-title id="title" style="color:white;">Sales Admin</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list>
      <ion-item class="contact-special" button="true" (click)="goOffer()">
        <p>For offers upload</p>
      </ion-item> 
      <ion-item class="contact-special" button="true" (click)="goUsedItem()">
          <p>For used Item upload</p>
        </ion-item>
  </ion-list>
</ion-content>
