<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons>
        <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
        <ion-back-button style="color:white;"></ion-back-button>
        <ion-title id="title" style="color:white;"><b>Contact</b></ion-title>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <br>
             <span style="color: dodgerblue;">
                <b>Please let others know of your event by calling us at:</b>
            </span>
            <br>
            </ion-item>
        <ion-item>
            <br>
            17285733<br><br>
            Or mail us at:<br><br>
            thimphuevents@gmail.com<br><br>
        </ion-item>
    </ion-list>
</ion-content>
