<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons>
        <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
        <ion-back-button style="color:white;"></ion-back-button>
        <ion-title id="title" style="color:white;"><b>Contact</b></ion-title>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content padding>
    Please let others know of your event by calling us at <br><strong>17777777</strong> <br>or mail us at <br>thimphuevents@gmail.com
</ion-content>
