<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons>
        <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
      <ion-back-button style="color:rgb(255, 255, 255);"></ion-back-button>
      <ion-title style="color:white;">Football Admin</ion-title>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <br><br><br><br>
  <ion-button expand="full" color="primary" (click)="viewStatus()">View</ion-button>
    <div>
      <br><ion-button expand="full" color="primary" (click)="goAdminFullGround()">Football Full Ground</ion-button><br>
      <ion-button expand="full" color="primary" (click)="goAdminFutsal()">Futsal Ground</ion-button>
    </div>
    <div>
        <ion-button expand="full" color="primary" (click)="gomatch()">Football match</ion-button>
    </div> -->
    <br><br><br><br><br>
    <ion-list>
        <ion-item class="contact-special" button="true" (click)="viewGround()">
          <div style="width: 100%; text-align: center;">VIEW</div>
        </ion-item>
        <ion-item class="contact-special" button="true" (click)="goAdminFullGround()">
          <div style="width: 100%; text-align: center;">Update Football Full Ground</div>
        </ion-item>
        <ion-item class="contact-special" button="true" (click)="goAdminFutsal()">
          <div style="width: 100%; text-align: center;">Update Futsal Ground</div>
        </ion-item> 
        <ion-item class="contact-special" button="true" (click)="matchupdate()">
          <div style="width: 100%; text-align: center;">Update Match</div>
        </ion-item>
        <ion-item class="contact-special" button="true" (click)="goAdminFutsal()">
          <div style="width: 100%; text-align: center;">Match Table score</div>
        </ion-item>
    </ion-list>
</ion-content>