<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons>
        <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
      <ion-back-button style="color:rgb(255, 255, 255);"></ion-back-button>
      <ion-title style="color:white;"><b>Football Admin</b></ion-title>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content padding>
  <br><br><br><br>
  <ion-button expand="full" color="primary" (click)="viewStatus()">View</ion-button>
    <div>
      <br><ion-button expand="full" color="primary" (click)="goAdminFullGround()">Football Full Ground</ion-button><br>
      <ion-button expand="full" color="primary" (click)="goAdminFutsal()">Futsal Ground</ion-button>
    </div>
</ion-content>
<!-- test for commit -->
