<ion-header >
    <ion-toolbar color="tertiary">
      <ion-buttons>
      <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
      <ion-back-button style="color:white;"></ion-back-button>
      <ion-title id="title" style="color:white;">Entertainment</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
<!-- <ion-tabs>

    <ion-tab tab="hello"> -->
      <ion-card>
        <ion-card-content>
            <img src="assets/img/ent2.jpg" height=30px; width=500px;>
            <img src="assets/img/ent1.jpg" height=100px; width=500px;>
        </ion-card-content>
      </ion-card>
        <ion-card *ngFor='let data of rData'>
            <ion-card-content style="font-family: 'Times New Roman', Times, serif;">
                <div style="color:dodgerblue; text-align: right"><ion-icon name="calendar"></ion-icon>{{data.date.toDate() | date:"mediumDate"}}</div>
                <!-- <span><b>Date:&nbsp;</b><span>{{data.date.toDate() | date:"mediumDate"}}</span></span><br> -->
                <!-- <span style="color:teal;text-align: right"><b>Title:</b></span>&nbsp;<span style="color:dodgerblue"><b>{{data.tilte}}</b></span><br> -->
                <div style="color:dodgerblue; text-align: right"><b>Title:&nbsp;</b><b>{{data.tilte}}</b></div>
                <span style="color:teal;"><ion-icon name="pin"></ion-icon><b>Venue:</b></span>&nbsp;<span style="color:black;">{{data.venue}}</span><br>
                <span style="color:teal;"><ion-icon name="time"></ion-icon><b>Time:</b></span>&nbsp;<span style="color:black;">{{data.time}}</span><br>
                <span style="color:teal;"><ion-icon name="call"></ion-icon><b>Contact:</b></span>&nbsp;<span style="color:black;">{{data.contact}}</span><br>
                <span style="color:teal;"><ion-icon name="more"></ion-icon><b>Details:</b></span>&nbsp;<span style="color:black;">{{data.detail}}</span><br>
            </ion-card-content>
          </ion-card>
    <!-- <ion-grid> -->
      <!-- for displaying the entertainment data -->
    <!-- <img src="assets/img/ent2.jpg" height=30px; width=500px;>
    <img src="assets/img/ent1.jpg" height=100px; width=500px;>
    <div  class="title">
      <ion-list *ngFor='let data of rData' class="title">
            <ion-grid>
            <ion-item>
            <ion-row>
              <ion-col size="12">
                  <div style="color:dodgerblue; text-align: right">{{data.date.toDate() | date:"mediumDate"}}</div> -->
                  <!-- <span><b>Date:&nbsp;</b><span>{{data.date.toDate() | date:"mediumDate"}}</span></span><br> -->
                  <!-- <span><b>Title:&nbsp;</b>{{data.title}}</span><br>
                  <span><b>Venue:&nbsp;</b>{{data.venue}}</span><br>
                  <span><b>Time:&nbsp;</b>{{data.time}}</span><br>
                  <span><b>Contact:&nbsp;</b>{{data.contact}}</span><br>
                  <span><b>Details:&nbsp;</b>{{data.link}}</span><br>
              </ion-col>
            </ion-row>
          </ion-item>
          </ion-grid>  
      </ion-list>
    </div>
    </ion-grid> -->
    <!-- </ion-tab> -->
    <!-- <ion-tab tab="world">
        <ion-list>
          <ion-item class="contact-special" button="true" (click)="ShowradioVally()">
            <p>Radio Valley</p>
          </ion-item>
          <div *ngIf="changeradiovalley">
            <ion-list>
              <ion-item>
                <ion-grid>
                <ion-row>
                    <ion-col size="12">
                      <img src="assets/img/rv.png" height=100px; width=400px;>
                    </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>  
        </ion-list>
        <div  class="title">
          <ion-list *ngFor='let data of eData' class="title">
                <ion-grid>
                <ion-item>
                <ion-row>
                  <ion-col size="12">
                      <span><b>08:00am:&nbsp;&nbsp;</b><span style="color:dodgerblue">{{data.date1}}</span></span><br>
                      <span><b>01:00pm:&nbsp;&nbsp;</b><span style="color:dodgerblue">{{data.date2}}</span></span><br>
                      <span><b>05:00pm:&nbsp;&nbsp;</b><span style="color:dodgerblue">{{data.date3}}</span></span><br>
                  </ion-col>
                </ion-row>
              </ion-item>
              </ion-grid>  
          </ion-list>
        </div>
      </div>
          <ion-item class="contact-special" button="true" (click)="showKuzuE()">
           <p>Kuzu English</p>
          </ion-item>
          <div *ngIf="changekuzueng">
          <ion-item>
              inside kuzu english
          </ion-item>
        </div>
          <ion-item class="contact-special" button="true" (click)="showKuzuD()">
            <p>Kuzu Dzongkha</p>
          </ion-item>
          <div *ngIf="changekuzudzo">
          <ion-item>
            inside kuzu dzo
          </ion-item>
        </div>
          <ion-item class="contact-special" button="true" (click)="showYeya()">
            <p>Yega Radio</p>
          </ion-item>
          <div *ngIf="changeyeya">
          <ion-item>
              inside yega radi
          </ion-item>
        </div>
          <ion-item class="contact-special" button="true" (click)="showBbsE()">
            <p>BBS English</p>
          </ion-item>
          <div *ngIf="changebbseng">
          <ion-item>
            inside bbs english
          </ion-item>
        </div>
          <ion-item class="contact-special" button="true" (click)="showBbsD()">
            <p>BBS Dzongkha</p>
          </ion-item>
          <div *ngIf="changebbsdzo">
            <ion-item>
              inside bbs dzo
            </ion-item>
          </div>
        </ion-list>
    </ion-tab> -->
    <!-- <ion-tab-bar slot="top">
        <ion-tab-button tab="hello">
          <ion-label style="font-size: 12pt;">Entertainment</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="world">
          <ion-label style="font-size: 12pt;">Radio Programs</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
</ion-tabs> -->
</ion-content>
