<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons>
    <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
    <ion-back-button style="color:white;"></ion-back-button>
    <ion-title id="title" style="color:white;">Thromde</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-tabs>
<ion-tab tab="citybus">
    <ion-grid>
        <ion-row>
          <ion-col size="6" no-padding>
              <ion-button expand="full" no-margin [color]="trackCSelectColor" style="color:white;" (click)="showTrackC()">
                  Track 
                </ion-button>
          </ion-col>
          <ion-col size="6" no-padding>
              <ion-button expand="full" no-margin [color]="scheCSelectColor" style="color:white;" (click)="showScheC()">
                  Schedule
                </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showTrackC_var" >
          <ion-col>
              <ion-label style="font-size: 10pt">Babesa Return via Samardzingkha</ion-label><ion-button (click)="goTrackCMap()">Track</ion-button><br>
              <ion-label style="font-size: 10pt">Samardzingkha Return via Babesa/Olakha</ion-label><ion-button (click)="goTrackCMap()">Track</ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showScheC_var" class="animateAppearDown">
         <!-- To-Do: add city bus schedule here -->
        </ion-row>
      </ion-grid>
</ion-tab>
<ion-tab tab="garbagetruck">
    <ion-grid>
        <ion-row>
          <ion-col size="6" no-padding>
              <ion-button expand="full" no-margin [color]="trackGSelectColor" style="color:white;" (click)="showTrackG()">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Track&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </ion-button>
          </ion-col>
          <ion-col size="6" no-padding>
              <ion-button expand="full" no-margin [color]="scheGSelectColor" style="color:white;" (click)="showScheG()">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Schedule&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showTrackG_var"class="animateAppearDown" >
          <ion-col >
              <ion-label style="font-size: 10pt">Upper Thimphu Garbage Truck</ion-label><ion-button (click)="goTrackGMap()">Track</ion-button><br>
              <ion-label style="font-size: 10pt">Lower Thimphu Garbage Truck</ion-label><ion-button (click)="goTrackGsMap()">Track</ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showScheG_var" class="animateAppearDown">
         <!-- To-Do: add garbage truck schedule here -->
        </ion-row>
      </ion-grid>
</ion-tab>
<ion-tab-bar slot="top" style="border-left: 2px solid grey; border-right: 2px solid grey; border-bottom: 2px solid grey; border-radius: 5%;">
  <ion-tab-button tab="citybus" style="border-right: 1px solid grey;" >
    <ion-label style="font-size: 12pt;" color="tertiary">City Bus</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="garbagetruck" style="border-left:1px solid grey;" >
    <ion-label style="font-size: 12pt;" color="tertiary">Garbage Truck</ion-label>
  </ion-tab-button>
</ion-tab-bar>
</ion-tabs>

</ion-content>