<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons>
    <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
    <ion-back-button style="color:white;"></ion-back-button>
    <ion-title><b style="color:white;">Sales</b></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-tabs>
    <ion-tab tab="offer">
      <ion-content overflow-scroll="false">
    <ion-grid>
      <!-- for displaying the offer data -->
      <ion-list *ngFor='let data of sales' class="title">
        <ion-grid>
          <ion-row>
              <ion-col size="12">
                  <b>Title:&nbsp;&nbsp;</b>{{data.salestitle}}<br><br>
                  <img src="{{data.url}}" height=150px; width=400px;>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
                <div style="text-align: right; color:dodgerblue">{{data.uploaddate}}</div>
                <div style="color:teal"><b>Details:</b></div>{{data.detail}}<br>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-list>
    </ion-grid>
  </ion-content>
    </ion-tab>
    <!-- for displaying the useditem data -->
    <ion-tab tab="useditem">
        <ion-content overflow-scroll="false">
      <ion-grid>
        <ion-list *ngFor='let data of items' class="title">
          <ion-grid>
          
            <ion-row>
                <ion-col size="12">
                    <div><span style="color:teal"><b>Type:&nbsp;</b></span>{{data.itemtitle}}</div>
                    <ion-slides pager="true" [options]="slideOpts">
                      <ion-slide><img src="{{data.url1}}" style="height:150px; width:400px" (click)="viewImg1(data.url1)"></ion-slide>
                      <ion-slide><img src="{{data.url2}}" style="height:150px; width:400px" (click)="viewImg2(data.url2)"></ion-slide>
                      <ion-slide><img src="{{data.url3}}" style="height:150px; width:400px" (click)="viewImg3(data.url3)"></ion-slide>
                    </ion-slides>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                  <div style="text-align: right; color:dodgerblue">{{data.uploaddate}}</div>
                  <div><span style="color:teal"><b>Price:&nbsp;&nbsp;</b></span>{{data.itemprice}}</div>
                  <div><span style="color:teal"><b>Contact:&nbsp;&nbsp;</b></span>{{data.itemcontact}}</div>
                  <div><span style="color:teal"><b>Details:&nbsp;&nbsp;</b></span>{{data.detail}}</div>
                  <div><span style="color:teal"><b>Status:&nbsp;&nbsp;</b></span><ion-badge color="secondary">{{data.itemstatus}}</ion-badge></div>
              </ion-col>
            </ion-row>
          </ion-grid>  
        </ion-list>
      </ion-grid>
    </ion-content>
    </ion-tab>
    <ion-tab-bar slot="top">
        <ion-tab-button tab="offer">
          <ion-label style="font-size: 12pt;">Offers</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="useditem">
          <ion-label style="font-size: 12pt;">Used Items</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
</ion-tabs>
</ion-content>
