<ion-header>
  <ion-toolbar color="success">
    <ion-buttons>
      <ion-back-button style="color:rgb(255, 255, 255);"></ion-back-button>
      <ion-title style="color:white;"><b>Sales Admin</b></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br><br><br><br>
  <ion-button expand="full" color="primary" (click)="showSpecialOffer()">Special Offers</ion-button><br>
  <div *ngIf="specialoffer_var">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          Date:
        </ion-col>
        <ion-col size="8">
          <ion-input type="text" button=true, placeholder="Start Date" value={{Date}} (click)="pickDate()" class="m-style" [(ngModel)]="rDate"></ion-input>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col size="4">
        Title:
      </ion-col>
      <ion-col size="8">
          <ion-input type="text" placeholder="Title" class="m-style" [(ngModel)]="rTitle"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        Venue:
      </ion-col>
      <ion-col size="8">
          <ion-input type="text" placeholder="venue" class="m-style" [(ngModel)]="rVenue"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          Details:
        </ion-col>
        <ion-col size="8">
            <ion-input type="text" placeholder="venue" class="m-style" [(ngModel)]="rDetail"></ion-input>
          </ion-col>
      </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="secondary" expand="full" (click)="insertFs()">upload</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  <ion-button expand="full" color="primary">Used Items</ion-button>
</ion-content>
