<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons>
          <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
        <ion-back-button style="color:white;"></ion-back-button>
        <ion-title style="color:white;">Football</ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-tabs>
    <ion-tab tab="ground_status">
      <ion-content overflow-scroll="false">
        <ion-list>
          <ion-item class="contact-special" button="true" (click)="showChangFootball()">
            <p>Changlimithang Football</p>
          </ion-item>     
          <ion-item class="contact-special" button="true" (click)="showChangFutsal()">
            <p>Changlimithang Futsal</p>
          </ion-item>
          <ion-item class="contact-special" button="true">
            <p>Changjiji Football</p>
          </ion-item>
          <ion-item class="contact-special" button="true">
            <p>Changjiji Futsal</p>
          </ion-item>
          <ion-item class="contact-special" button="true">
            <p>YDF Futsal</p>
          </ion-item>
          <ion-item class="contact-special" button="true">
            <p>Babesa Futsal</p>
          </ion-item>
          <ion-item class="contact-special" button="true">
            <p>Serbithang Football</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
    <ion-tab tab="match">
      <ion-content padding overflow-scroll="false">
        <!-- <ion-list>
          <ion-item>
            <ion-row>
              <ion-col text-wrap>
                <ion-text class="date">16 Jan 2019, 6:00 pm</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">Transport FC</ion-col>
              <ion-col size="2">2 : 1</ion-col>
              <ion-col size="5">Thimphu City</ion-col>            
            </ion-row>
          </ion-item>
        </ion-list> -->
        <ion-grid>
          <ion-row>
            <ion-col class="date">16 Jan 2019, 6:00 pm</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              Thimphu City
            </ion-col>
            <ion-col size="2">
              2 - 11
            </ion-col>
            <ion-col size="5">
              Transport FC
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list>
          <ion-item>
            
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="ground_status">
        <ion-label style="font-size: 12pt;">Ground Status</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="match">
        <ion-label style="font-size: 12pt;">Match</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
