<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons>
          <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
        <ion-back-button style="color:white;"></ion-back-button>
        <ion-title style="color:white;">View Ground Status</ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br><br><br><br>  
  <ion-list>
      <ion-item class="contact-special" button="true" (click)="showChangFootball()">
          <div style="width: 100%; text-align: center;">FOOTBALL</div>
      </ion-item>     
      <ion-item class="contact-special" button="true" (click)="showChangFutsal()">
        <div style="width: 100%; text-align: center;">FUTSAL</div>
      </ion-item>
    </ion-list>
</ion-content>
