<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay" menuId="myMenu" >
            <ion-header>
                <ion-toolbar color="tertiary">
                  <ion-title>
                    Menu
                  </ion-title>
                </ion-toolbar>
              </ion-header>
              
              <ion-content  style="--background: transparent;">
                <ion-list button="true">
                  <ion-item (click)="goHome()">
                    Home      
                  </ion-item>
                  <ion-item (click)="goAboutUs()">
                    About us
                  </ion-item>
                  <ion-item (click)="goContact()">
                    Contact
                  </ion-item>
                  <ion-item (click)="goRateus()">
                    Rate us
                    </ion-item>
                  <ion-item (click)="alertAdminLogin()">
                      Admin Login
                    </ion-item>
                </ion-list>
              </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
      </ion-split-pane>
</ion-app>
