<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons>
    <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
    <ion-back-button style="color:white;"></ion-back-button>
    <ion-title><b style="color:white;">Movies</b></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor='let data of movie'>
      <ion-item class="stampBox">
        <ion-grid>
        
        <ion-row>
            <ion-col size="12">
                <span><b>Movie Title:&nbsp;</b>{{data.movietitle}}</span><br><br>
                <img src="{{data.url}}" height=150px; width=400px;>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
              <span><b>Venue:&nbsp;</b>{{data.venue}}</span><br>
              <span><b>Time:&nbsp;</b>{{data.time}}</span><br>
              <span><b>StartDate:&nbsp;</b>{{data.startdate}}</span><br>
              <span><b>EndDate:&nbsp;</b>{{data.enddate}}</span><br>
              <span><b>Price:&nbsp;</b>{{data.price}}</span><br>
              <span><b>Contact:&nbsp;</b>{{data.contact}}</span><br>
              <span><b>Trailer:&nbsp;</b><span button=true, style="color:blue" (click)="tailorLink(data.tailor)">{{data.tailor}}</span></span><br>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>   
  </ion-list>
</ion-content>
