<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons>
    <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
    <ion-back-button style="color:white;"></ion-back-button>
    <ion-title><b style="color:white;">Movies</b></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor='let data of movie'>
      <ion-item class="stampBox">
        <ion-grid>
        
        <ion-row>
            <ion-col size="12" style="font-family: 'Times New Roman', Times, serif;">
                <div><span style="color:teal">Movie Title:&nbsp;</span>{{data.movietitle}}</div>
                <img src="{{data.url}}" height=150px; width=400px;>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" style="font-family: 'Times New Roman', Times, serif;">
              <div><span style="color:teal;">Venue:&nbsp;</span>{{data.venue}}</div>
              <div><span style="color:teal">Time:&nbsp;</span>{{data.time}}</div>
              <div><span style="color:teal">StartDate:&nbsp;</span>{{data.startdate}}</div>
              <div><span style="color:teal">EndDate:&nbsp;</span>{{data.enddate}}</div>
              <div><span style="color:teal">Price:&nbsp;</span>Nu. {{data.price}}/-</div>
              <div><span style="color:teal">Contact:&nbsp;</span>{{data.contact}}</div>
              <div><span style="color:teal">Trailer:&nbsp;</span><span button=true, style="color:blue" (click)="tailorLink(data.tailor)">{{data.tailor}}</span></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>   
  </ion-list>
</ion-content>
