<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons>
    <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
    <ion-back-button style="color:white;"></ion-back-button>
    <ion-title><b style="color:white;">Movies</b></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor='let data of movie'>
      <ion-item class="stampBox">
        <ion-grid>
        
        <ion-row>
            <ion-col size="12">
                <div><span style="color:teal"><b>Movie Title:&nbsp;</b></span>{{data.movietitle}}</div>
                <img src="{{data.url}}" height=150px; width=400px;>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
              <div><span style="color:teal"><b>Venue:&nbsp;</b></span>{{data.venue}}</div>
              <div><span style="color:teal"><b>Time:&nbsp;</b></span>{{data.time}}</div>
              <div><span style="color:teal"><b>StartDate:&nbsp;</b></span>{{data.startdate}}</div>
              <div><span style="color:teal"><b>EndDate:&nbsp;</b></span>{{data.enddate}}</div>
              <div><span style="color:teal"><b>Price:&nbsp;</b></span>{{data.price}}</div>
              <div><span style="color:teal"><b>Contact:&nbsp;</b></span>{{data.contact}}</div>
              <div><span style="color:teal"><b>Trailer:&nbsp;</b></span><span button=true, style="color:blue" (click)="tailorLink(data.tailor)">{{data.tailor}}</span></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>   
  </ion-list>
</ion-content>
