<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons>
    <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
    <ion-back-button style="color:white;"></ion-back-button>
    <ion-title id="title" style="color:white;">Admin</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>     
    <!-- <ion-grid>
      <ion-row>
        <ion-col>
            <ion-button expand="full" color="primary" (click)="movies()">movieAdmin</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-button expand="full" color="primary" (click)="goFootballAdmin()">footballAdmin</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-button expand="full" color="primary" (click)="nightlife()">NightlifeAdmin</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <ion-button expand="full" color="primary" (click)="music()">musicAdmin</ion-button>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <ion-button expand="full" color="primary" (click)="religion()">religionAdmin</ion-button>
          </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="primary" (click)="nationalfest()">nationalfestAdmin</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="primary" (click)="specialSale()">specialAdmin</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="primary" (click)="thromde()">thromdeAdmin</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="primary" (click)="others()">othersAdmin</ion-button>
          </ion-col>
        </ion-row>
    </ion-grid> -->

    <ion-list>
      <ion-item class="admin-special" button="true" (click)="movies()">
        <p>Movie admin</p>
    </ion-item>
    <ion-item class="admin-special" button="true" (click)="goFootballAdmin()">
        <p>Football admin</p>
    </ion-item>
    <ion-item class="admin-special" button="true" (click)="nightlife()">
        <p>Nightlife admin</p>
    </ion-item>
    <ion-item class="admin-special" button="true" (click)="music()">
        <p>Entertainment admin</p>
    </ion-item>
    <ion-item class="admin-special" button="true" (click)="goRadio()">
      <p>Radio admin</p>
  </ion-item>
    <ion-item class="admin-special" button="true" (click)="religion()">
        <p>Religion admin</p>
    </ion-item>
    <ion-item class="admin-special" button="true" (click)="nationalfest()">
        <p>Nationalfest admin</p>
    </ion-item>
    <ion-item class="admin-special" button="true" (click)="specialSale()">
        <p>Specialsales admin</p>
    </ion-item>
    <ion-item class="admin-special" button="true" (click)="thromde()">
        <p>Thromde admin</p>
    </ion-item>
    <ion-item class="admin-special" button="true" (click)="others()">
        <p>Others admin</p>
    </ion-item>
    </ion-list>
</ion-content>
