<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons>
          <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
        <ion-back-button style="color:rgb(255, 255, 255);"></ion-back-button>
        <ion-title style="color:white;"><b>Football Full Admin</b></ion-title>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <br><ion-button expand="full" color="primary" (click)="goDay('/monday')">Monday</ion-button>
      <div *ngIf="mon_show">
        <ion-list>
          <ion-item>
            <ion-label><strong>Turn Off For Whole Day:</strong> </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="mon_all" (ionFocus)="presentAlertConfirm()"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>8:00 am - 10:00 am : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="mon_8to10am" (ionChange)="changeStatus('time_8to10am_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>10:00 am - 12:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="mon_10to12am" (ionChange)="changeStatus('time_10to12am_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>12:00 pm - 2:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="mon_12to2pm" (ionChange)="changeStatus('time_12to2pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>2:00 pm - 4:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="mon_2to4pm" (ionChange)="changeStatus('time_2to4pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>4:00 pm - 6:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="mon_4to6pm" (ionChange)="changeStatus('time_4to6pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>6:00 pm - 8:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="mon_6to8pm" (ionChange)="changeStatus('time_6to8pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>8:00 pm - 10:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="mon_8to10pm" (ionChange)="changeStatus('time_8to10pm_arg',day)"></ion-toggle>
          </ion-item>
        </ion-list>
    </div>
  <ion-button expand="full" color="primary" (click)="goDay('/tuesday')">Tuesday</ion-button>
      <div *ngIf="tues_show">
        <ion-list>
          <ion-item>
            <ion-label><strong>Turn Off For Whole Day:</strong> </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="tues_all" (ionFocus)="presentAlertConfirm()"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>8:00 am - 10:00 am : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="tues_8to10am" (ionChange)="changeStatus('time_8to10am_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>10:00 am - 12:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="tues_10to12am" (ionChange)="changeStatus('time_10to12am_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>12:00 pm - 2:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="tues_12to2pm" (ionChange)="changeStatus('time_12to2pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>2:00 pm - 4:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="tues_2to4pm" (ionChange)="changeStatus('time_2to4pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>4:00 pm - 6:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="tues_4to6pm" (ionChange)="changeStatus('time_4to6pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>6:00 pm - 8:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="tues_6to8pm" (ionChange)="changeStatus('time_6to8pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>8:00 pm - 10:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="tues_8to10pm" (ionChange)="changeStatus('time_8to10pm_arg',day)"></ion-toggle>
          </ion-item>
        </ion-list>
        </div>
  
  <ion-button expand="full" color="primary" (click)="goDay('/wednesday')">Wednesday</ion-button>
      <div *ngIf="wed_show">
        <ion-list>
          <ion-item>
            <ion-label><strong>Turn Off For Whole Day:</strong> </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="wed_all" (ionFocus)="presentAlertConfirm()"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>8:00 am - 10:00 am : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="wed_8to10am" (ionChange)="changeStatus('time_8to10am_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>10:00 am - 12:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="wed_10to12am" (ionChange)="changeStatus('time_10to12am_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>12:00 pm - 2:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="wed_12to2pm" (ionChange)="changeStatus('time_12to2pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>2:00 pm - 4:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="wed_2to4pm" (ionChange)="changeStatus('time_2to4pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>4:00 pm - 6:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="wed_4to6pm" (ionChange)="changeStatus('time_4to6pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>6:00 pm - 8:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="wed_6to8pm" (ionChange)="changeStatus('time_6to8pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>8:00 pm - 10:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="wed_8to10pm" (ionChange)="changeStatus('time_8to10pm_arg',day)"></ion-toggle>
          </ion-item>
        </ion-list>
      </div>
  
  <ion-button expand="full" color="primary" (click)="goDay('/thursday')">Thursday</ion-button>
      <div *ngIf="thu_show">
        <ion-list>
          <ion-item>
            <ion-label><strong>Turn Off For Whole Day:</strong> </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="thu_all" (ionFocus)="presentAlertConfirm()"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>8:00 am - 10:00 am : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="thu_8to10am" (ionChange)="changeStatus('time_8to10am_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>10:00 am - 12:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="thu_10to12am" (ionChange)="changeStatus('time_10to12am_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>12:00 pm - 2:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="thu_12to2pm" (ionChange)="changeStatus('time_12to2pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>2:00 pm - 4:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="thu_2to4pm" (ionChange)="changeStatus('time_2to4pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>4:00 pm - 6:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="thu_4to6pm" (ionChange)="changeStatus('time_4to6pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>6:00 pm - 8:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="thu_6to8pm" (ionChange)="changeStatus('time_6to8pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>8:00 pm - 10:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="thu_8to10pm" (ionChange)="changeStatus('time_8to10pm_arg',day)"></ion-toggle>
          </ion-item>
        </ion-list>
      </div>  

  <ion-button expand="full" color="primary" (click)="goDay('/friday')">Friday</ion-button>
      <div *ngIf="fri_show">
        <ion-list>
          <ion-item>
            <ion-label><strong>Turn Off For Whole Day:</strong> </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="fri_all" (ionFocus)="presentAlertConfirm()"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>8:00 am - 10:00 am : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="fri_8to10am" (ionChange)="changeStatus('time_8to10am_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>10:00 am - 12:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="fri_10to12am" (ionChange)="changeStatus('time_10to12am_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>12:00 pm - 2:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="fri_12to2pm" (ionChange)="changeStatus('time_12to2pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>2:00 pm - 4:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="fri_2to4pm" (ionChange)="changeStatus('time_2to4pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>4:00 pm - 6:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="fri_4to6pm" (ionChange)="changeStatus('time_4to6pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>6:00 pm - 8:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="fri_6to8pm" (ionChange)="changeStatus('time_6to8pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>8:00 pm - 10:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="fri_8to10pm" (ionChange)="changeStatus('time_8to10pm_arg',day)"></ion-toggle>
          </ion-item>
        </ion-list>
      </div>  

    <ion-button expand="full" color="primary" (click)="goDay('/saturday')">Saturday</ion-button>
      <div *ngIf="sat_show">
        <ion-list>
          <ion-item>
            <ion-label><strong>Turn Off For Whole Day:</strong> </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sat_all" (ionFocus)="presentAlertConfirm()"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>8:00 am - 10:00 am : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sat_8to10am" (ionChange)="changeStatus('time_8to10am_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>10:00 am - 12:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sat_10to12am" (ionChange)="changeStatus('time_10to12am_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>12:00 pm - 2:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sat_12to2pm" (ionChange)="changeStatus('time_12to2pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>2:00 pm - 4:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sat_2to4pm" (ionChange)="changeStatus('time_2to4pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>4:00 pm - 6:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sat_4to6pm" (ionChange)="changeStatus('time_4to6pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>6:00 pm - 8:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sat_6to8pm" (ionChange)="changeStatus('time_6to8pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>8:00 pm - 10:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sat_8to10pm" (ionChange)="changeStatus('time_8to10pm_arg',day)"></ion-toggle>
          </ion-item>
        </ion-list>
      </div>  

    <ion-button expand="full" color="primary" (click)="goDay('/sunday')">Sunday</ion-button>
      <div *ngIf="sun_show">
        <ion-list>
          <ion-item>
            <ion-label><strong>Turn Off For Whole Day:</strong> </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sun_all" (ionFocus)="presentAlertConfirm()"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>8:00 am - 10:00 am : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sun_8to10am" (ionChange)="changeStatus('time_8to10am_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>10:00 am - 12:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sun_10to12am" (ionChange)="changeStatus('time_10to12am_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>12:00 pm - 2:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sun_12to2pm" (ionChange)="changeStatus('time_12to2pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>2:00 pm - 4:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sun_2to4pm" (ionChange)="changeStatus('time_2to4pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>4:00 pm - 6:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sun_4to6pm" (ionChange)="changeStatus('time_4to6pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>6:00 pm - 8:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sun_6to8pm" (ionChange)="changeStatus('time_6to8pm_arg',day)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>8:00 pm - 10:00 pm : </ion-label>
            <ion-toggle color="secondary" [(ngModel)]="sun_8to10pm" (ionChange)="changeStatus('time_8to10pm_arg',day)"></ion-toggle>
          </ion-item>
        </ion-list>
      </div>  

</ion-content>
