<ion-header >
    <ion-toolbar color="tertiary">
      <ion-buttons>
      <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
      <ion-back-button style="color:white;"></ion-back-button>
      <ion-title id="title" style="color:white;">National Festival</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-grid>
          <ion-row>
              <ion-col size="12">
                <img src="assets/img/fes.jpg" height=120px; width=400px;>
              </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>  
  </ion-list>
  <div  class="title">
    <ion-list *ngFor='let data of rData' class="title">
          <ion-grid>
          <ion-item>
          <ion-row>
            <ion-col size="12">
                <span><b>Date:&nbsp;</b><span style="color:dodgerblue">{{data.date.toDate() | date:"mediumDate"}}</span></span><br>                
                <span><b>Title:&nbsp;</b>{{data.title}}</span><br>
                <span><b>Time:&nbsp;</b>{{data.time}}</span><br>
                <span><b>Venue:&nbsp;</b>{{data.venue}}</span><br>
                <span><b>Detail:&nbsp;</b>{{data.detail}}</span><br>
            </ion-col>
          </ion-row>
        </ion-item>
        </ion-grid>  
    </ion-list>
  </div>
</ion-content>
