<ion-header >
    <ion-toolbar color="tertiary">
      <ion-buttons>
      <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
      <ion-back-button style="color:white;"></ion-back-button>
      <ion-title id="title" style="color:white;">National Festival</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
        <img src="assets/img/fes.jpg" height=100px; width=400px;>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor='let data of rData'>
    <ion-card-content>
        <div style="color:dodgerblue; text-align: right"><ion-icon name="calendar"></ion-icon>{{data.date.toDate() | date:"mediumDate"}}</div>
        <div style="color:dodgerblue;font-family: 'Times New Roman', Times, serif;"><b>Title:&nbsp;</b>{{data.title}}</div>
        <span style="color:teal;font-family: 'Times New Roman', Times, serif;"><ion-icon name="time"></ion-icon><b>Time:</b></span>&nbsp;<span style="color:black;font-family: 'Times New Roman', Times, serif;">{{data.time}}</span><br>
        <span style="color:teal;font-family: 'Times New Roman', Times, serif;"><ion-icon name="pin"></ion-icon><b>Venue:</b></span>&nbsp;<span style="color:black;font-family: 'Times New Roman', Times, serif;">{{data.venue}}</span><br>
        <span style="color:teal;font-family: 'Times New Roman', Times, serif;"><ion-icon name="more"></ion-icon><b>Details:</b></span>&nbsp;<span style="color:black;font-family: 'Times New Roman', Times, serif;">{{data.detail}}</span><br>
    </ion-card-content>
  </ion-card>    
</ion-content>
