<ion-header >
    <ion-toolbar color="primary">
      <ion-buttons>
      <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
      <ion-back-button style="color:white;"></ion-back-button>
      <ion-title id="title" style="color:white;"><b>ThimphuEvent</b></ion-title>
      <ion-button (click)="admin()"><p class="help" style="color:white;"><b>admin</b></p></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content no-padding style="text-align: center;">
  <ion-tabs>
      <ion-tab tab="hello">
          <ion-grid text-wrap no-padding >
              <ion-row class="row">
                <ion-col (click)="goMovies()" class="col" size="4">
                    <img src="assets/img/movies.jpg" height="130%" width="110%">
                </ion-col>
                <ion-col (click)="goFootball()" class="col" size="4" >
                    <img src="assets/img/football.jpg" height="130%" width="110%">
                </ion-col>
                <ion-col (click)="goNightLife()" class="col" size="4">
                    <img src="assets/img/nightlife.jpg" height="130%" width="110%">
                </ion-col>
              </ion-row>
              <ion-row class="label">
                <ion-col>Movies</ion-col>
                <ion-col>Football</ion-col>
                <ion-col>Night Life</ion-col>
               </ion-row>
              <ion-row class="row">
                  <ion-col (click)="goMusicOrDance()" class="col" size="4">
                      <img src="assets/img/music_dance.jpg" height="130%" width="110%">
                    
                  </ion-col>
                  <ion-col (click)="goReligious()" class="col" size="4">
                      <img src="assets/img/religious.jpg" height="130%" width="110%">
                    
                  </ion-col>
                  <ion-col (click)="goNatFest()" class="col" size="4">
                      <img src="assets/img/festival.jpg" height="130%" width="110%">
                     
                    </ion-col>
                </ion-row>
                <ion-row class="label">
                  <ion-col>Music/Dance</ion-col>
                  <ion-col>Religious</ion-col>
                  <ion-col>National Fest</ion-col>
                 </ion-row>
                <ion-row (click)="goSales()" class="row">
                    <ion-col class="col" size="4">
                        <img src="assets/img/sales.jpg" height="130%" width="110%">
                      
                    </ion-col>
                    <ion-col (click)="goThromde()" class="col" size="4">
                        <img src="assets/img/thromde.jpg" height="130%" width="110%">
                      
                    </ion-col>
                    <ion-col (click)="goOthers()" class="col" size="4">
                       
                      </ion-col>
                  </ion-row>
                  <ion-row class="label">
                    <ion-col>Special Sales/Buy</ion-col>
                    <ion-col>Thromde Services</ion-col>
                    <ion-col>Others</ion-col>
                   </ion-row>
            </ion-grid>
      </ion-tab>
      <ion-tab tab="world">World</ion-tab>
      <ion-tab-bar slot="top">
          <ion-tab-button tab="hello">
            <ion-label style="font-size: 12pt;">All Events</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="world">
            <ion-label style="font-size: 12pt;">Favourites</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
  </ion-tabs>
</ion-content>
