<ion-header >
    <ion-toolbar color="tertiary">
      <ion-buttons>
      <ion-button (click)="openMenu()" style="color:white;"><ion-icon name="menu"></ion-icon></ion-button>
      <ion-back-button style="color:white;"></ion-back-button>
      <ion-title id="title" style="color:white;"><b>Thimphu Events</b></ion-title>
      <!-- <ion-button (click)="admin()"><p class="help" style="color:white;"><b>admin</b></p></ion-button> -->
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content no-padding style="text-align: center;">
  <ion-tabs>
      <ion-tab tab="hello">
      <ion-content overflow-scroll="false">
          <ion-grid text-wrap no-padding >
              <ion-row class="row">
                <ion-col (click)="goMovies()" class="col" size="4">
                    <img src="assets/img/movie3.jpg" height="100%" width="110%">
                </ion-col>
                <ion-col (click)="goFootball()" class="col" size="4" >
                    <img src="assets/img/football3.jpg" height="100%" width="110%">
                </ion-col>
                <ion-col (click)="goNightLife()" class="col" size="4">
                    <img src="assets/img/party3.jpg" height="100%" width="110%">
                </ion-col>
              </ion-row>
              <ion-row class="label">
                <ion-col style="color:#008080;">Movies</ion-col>
                <ion-col style="color:#008080;">Football</ion-col>
                <ion-col style="color:#008080;">Night Life</ion-col>
               </ion-row>
              <ion-row class="row">
                  <ion-col (click)="goMusicOrDance()" class="col" size="4">
                      <img src="assets/img/enter3.jpg" height="100%" width="110%">
                    
                  </ion-col>
                  <ion-col (click)="goReligious()" class="col" size="4">
                      <img src="assets/img/religious3.jpg" height="100%" width="110%">
                    
                  </ion-col>
                  <ion-col (click)="goNatFest()" class="col" size="4">
                      <img src="assets/img/fest3.jpg" height="100%" width="110%">
                     
                    </ion-col>
                </ion-row>
                <ion-row class="label">
                  <ion-col style="color:#008080;">Entertainment</ion-col>
                  <ion-col style="color:#008080;">Religious</ion-col>
                  <ion-col style="color:#008080;">Festival</ion-col>
                 </ion-row>
                <ion-row class="row">
                    <ion-col (click)="goSales()" class="col" size="4">
                        <img src="assets/img/sales3.jpg" height="100%" width="110%">
                      
                    </ion-col>
                    <ion-col (click)="goThromde()" class="col" size="4">
                        <img src="assets/img/thromde3.jpg" height="100%" width="110%">
                      
                    </ion-col>
                    <ion-col (click)="goOthers()" class="col" size="4">
                        <img src="assets/img/other3.jpg" height="100%" width="110%">
                       
                      </ion-col>
                  </ion-row>
                  <ion-row class="label">
                    <ion-col style="color:#008080;">Special Sales/Buy</ion-col>
                    <ion-col style="color:#008080;">Thromde Services</ion-col>
                    <ion-col style="color:#008080;">Others</ion-col>
                   </ion-row>
            </ion-grid>
        </ion-content>
      </ion-tab>
      <ion-tab tab="world">World</ion-tab>
      <ion-tab-bar slot="top">
          <ion-tab-button tab="hello">
            <ion-label style="font-size: 12pt;" color="secondary">All Events</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="world">
            <ion-label style="font-size: 12pt;" color="secondary">Favourites</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
  </ion-tabs>
</ion-content>
